


<div class="container-fluid full" ng-class="{'item-horizontal': isVertical()}"> 


 <div class="display-images">
  <img ng-src="https://vineyardsandbox.s3.amazonaws.com/Rob/healing-center/{{device}}.png"/>
  <div class="device-selection">
     
      <button class="btn" 
      ng-class="{'active': device === 'desktop'}"
      ng-click="isDesktop()">Desktop</button>
      
      
      <button class="btn" 
      ng-class="{'active': device === 'tablet'}"
      ng-click="isTablet()">Tablet</button>
      
      
      <button class="btn" 
      ng-class="{'active': device === 'phone'}"
      ng-click="isPhone()">Phone</button>
      
      <a target="blank" href="http://www.healingcentercincinnati.org"><button class="btn"><i class="fa fa-link"></i></button></a>
      
    </div>
    
     <div class="device-selection">
     
      <button class="btn" 
      ng-class="{'active': device === 'admin-one'}"
      ng-click="isAdminOne()">CMS 1</button>
      
      
      <button class="btn" 
      ng-class="{'active': device === 'admin-two'}"
      ng-click="isAdminTwo()">CMS 2</button>
      
      
      <button class="btn" 
      ng-class="{'active': device === 'admin-three'}"
      ng-click="isAdminThree()">CMS 3</button>
      
      
      <button class="btn" 
      ng-class="{'active': device === 'admin-four'}"
      ng-click="isAdminFour()">CMS 4</button>
      

      
    </div>
    
  <div>

  <div class="description">
    <p>The Healing Center of Cincinnati helps people in times of need by providing groceries, job placement and much more. The site redesign involved a good amount of client interaction and input.</p>
  </div>
  
<div class="wrapper">  
  
  <div class="subHead">
    <h1>Context</h1>
    <p>The Healing Center was in need of an updated site that matched the spirit of the organization and worked responsively. The prior site appeared dated and was a burden on the staff to manage and update.</p>
    
  </div>
  
  
<div class="row">  
  
  <div class="subHead col-md-8">
    <h1>Scope</h1>   
    <p>This project consisted of a discovery phase, design and development. I carried out the entire project which spanned 9 months and resulted in the responsive design and development of the site. The site includes a custom CMS build and a Spanish to English toggle (currrently waiting on Spanish translation of content) and many additional features. 
    </p>
    <p>
    At project completion, the site checked in at just under 10,000 lines of code, an improvement of over 100,000 which will make for a much more maintainable site down the road. 99% of the content is also editable through the custom built CMS.</p>
    
    <h1 class="float-margin">Responsibilites</h1>
    <ul>
      <li>Discovery</li>
      <li>UX design</li>
      <li>UI design and development</li>
      <li>NoSQL database design</li>
      <li>Node.js REST API back-end build</li>
      <li>Custom CMS build</li>
      <li>Angular.js front-end build</li>
      <li>Pre-render.io SEO setup</li>
      <li>Heroku hosting</li>
    </ul>
  </div>



<div class="sidebar col-md-4">

<div class="additional"><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/healing-center/admin.png"/>
    <div class="additonal-caption">
    <p>A custom admin build was created for easy maintenance and updates. A REST API was created using a mongoDB database and node.js backend.</p>
    </div>
    </div>
    
    
  <div class="additional"><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/healing-center/archive.png" alt>
    <div class="additonal-caption">
    <p>The prior site was non-responsive and hard to navigate, content was lengthy and non-direct. The site was also very difficult to update. The back-end was merged into Vineyard Cincinnati's but only partially completed, many records were updated directly in the database or hard-coded.</p>
    </div>
    </div>  
    
    
    
  </div>
    
</div>
 

  
   <div id="technology" class="subHead">
    <h1>Technology</h1>
    <div class="gallery">
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/angularjs.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/nodejs-logo.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/npm.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/express.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/bower.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/mongodb.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/sass.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/susy.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/compass-logo.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/gulp.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/git-logo.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/github.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/heroku-Logo.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/googleapi.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/jquery.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/html5.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/css3.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/analytics.png" alt></div>
      <div><img src="https://vineyardsandbox.s3.amazonaws.com/Rob/logos/photoshop.png" alt></div>
    </div>
  </div>
  
<div id="live-view" class="subHead">
    <h1>Live&nbsp;View</h1>  
   <iframe src="http://www.healingcentercincinnati.org" width="100%" height="500">
  <p>Your browser does not support iframes.</p>
</iframe>
</div>  
</div>
</div>