<div class="title-bar">
 <div class="row">
  <div class="logo-area col-sm-12">
<!--    <img class="icon" ng-src="{{iconFile}}" />-->
    <div class="title-area">
      <p class="logo-title">{{title}} <span class="subtitle">{{subtitle}}</span> | {{routeTitle || 'ok'}}</p>
<!--      <p class="logo-subtitle">{{subtitle}}</p>-->
    </div>
    
    <div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()"
       class="collapsed-menu pull-right">
        <button type="button" class="btn nav-button">
          <i class="fa fa-bars"></i>
        </button>
    </div>
    
  </div>
  
  
  
  
  
  
  
  <div class="right-side-controls col-sm-6">
<!--
    <div>
      <button class="btn btn-primary">Button 1</button>
      <button class="btn btn-success">Button 1</button>
      <button class="btn btn-warning">Button 1</button>
    </div>
-->
  </div>
  
</div>
</div>
<div ng-transclude></div>


<div ng-view class="view" ng-class="{'view-full-width': !isMenuVertical || !isMenuVisible}">
  
</div>