@import "includes/settings";
@import "includes/variables";
 
html{
  overflow-x: hidden;
}
body{
  background: $grey;
  font-family: "museo-slab",serif;
  margin:0px !important;
  overflow-x: hidden;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

p{
  font-weight: 300;
  margin-left:20px;
  margin-right: 20px;
}

@media screen and (max-width: 430px){
  p{
  margin-left:0px;
  margin-right: 0px;
}
  h1{
  font-size: 26px;
  }
 
}


@media screen and (min-width: 430px){
 .mobile-only{
   display: none;
 }
 
}

.wrapper{
  margin-left:5%;
  margin-right:5%;
  margin-bottom: 70px;
}

li{
  font-weight: 300;
}


.container-fluid{
  padding: 0px;
  &.full{
    min-height: 100vh;
//    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
  }
  &.home{
  width:80%; 
  margin-top: 50px;
  }
  h1{
  margin: 0px;
  margin-bottom: 10px;
  }
  p{
  margin-left: 4px;
  }
  img{
    width:100%;
  }
}

.title-bar{
  background-color: rgba( $red, .8 );
  padding: 0 20px;
  border-bottom: 1px solid $lightgrey;
}

.logo-area{
  min-height: 76px;
}
.display-images{
  &.letterpress > img{
      padding:60px;
    
  }
}
.about-active{
border-bottom: 3px solid white;
}
.solo li{
font-weight: 400;
}

.title-area{
  display: inline-block;
  text-align: center;
  .subtitle{
    font-style: italic;
    font-weight: 100;
  }
  @media screen and (max-width: 530px){
  width:70%;
}
}

.icon{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 8px;
  vertical-align: top;
  border: 1px solid black;
}

.logo-title{
  color:white;
  margin-top: 16px;
  font-size: 25px;
  font-weight:500;
}

.logo-subtitle{ 
  font-size: 13px;
  margin-top: -13px;
}


@media screen and (max-width: 530px){
  .icon{
    display: none;
  }
  .logo-title{
    font-size: 18px;
    text-align: left;
  }
}

.right-side-controls{
  line-height: 60px;
  position: relative;
}

.right-side-controls > ul {
  text-align: center;
  display: inline-block;
  position: absolute;
  top:10px;
  a{
    color:white;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    &:hover{
      border-bottom: 3px solid white;
    }
  }
  li{
    display: inline-block;
    color:white;
  }
}

@media screen and(min-width: 768px){
  .right-side-controls > ul {
    text-align: right;
  }
  .logo-area{
    text-align: left;
  }
}

//menu

.menu-area{
  position: relative;
  background-color: $lightgrey;
  color: $darkgrey;
  padding-left: 0;
}
rb-menu{
position: inherit;
}

@media screen and (max-width: 430px){
  rb-menu{
  position: absolute;
  }
}

rb-menu-group > li{
  text-transform: uppercase;
  font-weight: 400;
}

.menu-area-vertical{
  float:left;
  width: 230px;
  min-height: 100vh;
  padding-top: 30px;
  z-index:100  
}

.menu-area-horizontal{
  width:100%;
  height: 40px;
}

.menu-area ul{
  padding-left: 0;
}

.menu-area .btn:hover{
  color: white;
}

.menu{
  list-style-type: none;
  vertical-align: top;
}

.menu ul{
  display: inline;
  list-style-type: none;
  padding-left: 0;
}

.menu li{
  line-height: 3em;
  cursor: pointer;
}

.menu li div{
  display: inline-block;
  width:90%;
  padding-left: 16px;
  font-size: .9em;
}

.selectable-item:hover{
  background-color: rgba( $blue, .7 );
  color:white;
}

.menu-icon{
  margin-right: 10px;
}

.menu-active-indicator{
  float: right;
  color: white;
  margin-right: 0;
  margin-top: 8px;
}

.noselect{
  -webkit-touch-callout:none;
  -webkit-user-select: none;
  user-select: none;
}

.group-indicator-left{
  float: right;
  color: white;
  margin-right:2px;
  margin-top:15px;
}

.subitem-section{
  padding-left: 16px;
}

.menu-layout-button{
  margin:12px;
  padding:2px 8px;
  color: $grey;
  background-color: $darkgrey;
  border: 1px solid $lightgrey;
}

.layout-button-horizontal{
  position: absolute;
  top: -6px;
  right: 10px;
}

#live-view{
  display: none;
}

.item-horizontal{
  display: inline-block;
  width: 165px !important;
  margin-left: 20px;
  margin-top: 5px;
  line-height: 1.5em !important;
}

.popup-menu{
  position: absolute;
  z-index: 1000;
  background-color: $lightgrey;
  width:230px;
  padding-left: 0;
}


//nav

.collapsed-menu{
  display: inline-block;
  height: 100%;
}

.nav-button{
  height: 40px;
  width: 60px;
  margin-top: 10px;
//  border: 1px solid $grey;
  padding: 0;
  font-size: 26px;
  color: white;
  background: none;
}


//animation
.fade-in-animation{
  -moz-transition: linear opacity 0.5s;
  -webkit-transition: linear opacity 0.5s;
  transition: linear opacity 0.5s;
}

.fade-in-animation.ng-hide{
  opacity: 0;
}

.view{
  margin-left:230px;
  padding:20px;
  background-color: white;
  min-height: 100vh;
  overflow: hidden;
  z-index: 0;
}

@media screen and (max-width: 430px){
  .view{
  margin-left:0px;
  }
}

.view-full-width{
  margin-left:230px;
  margin-left:0;
}

.description{
  background-color: lighten($sand,10);
  padding: 15px;
  font-weight: 300;
  p{
    margin-bottom: 0px;
  }
}

.device-selection{
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    margin-right:15px;
    margin-bottom: 10px;
    background-color: $lightgrey;
    border-radius: 0;
    &:hover{
      background-color: $blue;
      color:white;
    }
    &.active{
      box-shadow: none;
      background-color: $blue;
      color:white;
    }
  }
}

.subHead{
  h1{
  border-bottom: 6px solid rgba( $yellow, .7 );
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 1000px;
  margin-top: 35px; 
    &.float-margin{
    margin-right: 0px;
    }
  }
  li{
  list-style: none;
   strong{
    font-weight: 300;
    border-bottom: 4px solid $blue;
  }
  }
}


.additional{
  width:100%;
  float:right;
  border:3px solid $lightgrey;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 50px;
  p{
    margin-bottom: 0px;
    padding: 5px;
  }
}

.additonal-caption{
background-color: lighten($sand,10);
}



.gallery { 
  font-size: 0; 
  display: flex; 
  flex-flow: row wrap; 
  margin-left: 20px;
  margin-right:20px;
}
.gallery > * { 
  flex: auto; 
  width: 100px; 
  margin-right: 30px;
  @media screen and (min-width: 430px){
  width: 80px; 
  margin-right: 3%;
}
}

.gallery > * img { 
  width: 100%; 
  height: auto; 
  max-width: 100px;

}

.status{
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-weight: 200;
  &.in-progress{
    background-color: $red;
  }
}

.bubble-image{
  width:100px;
  float:right;
  img{
  border-radius: 50%;
  }
}

iframe{
  width: 100%;
}