@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800);
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800);
body {
  background: #d4d9dd;
  font-family: "museo-slab",serif;
  margin: 0px !important; }

p {
  font-weight: 300;
  margin-left: 20px;
  margin-right: 20px; }

.wrapper {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 70px; }

li {
  font-weight: 300; }

.container-fluid {
  padding: 0px; }
  .container-fluid.full {
    min-height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover; }
  .container-fluid.home {
    width: 80%;
    margin-top: 50px; }
  .container-fluid img {
    width: 100%; }

.title-bar {
  background-color: #717b85;
  padding: 0 20px;
  border-bottom: 1px solid #edeff0; }

.title-area {
  display: inline-block;
  text-align: center; }
  .title-area .subtitle {
    font-style: italic;
    font-weight: 100; }

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 8px;
  vertical-align: top;
  border: 1px solid black; }

.logo-title {
  color: white;
  margin-top: 16px;
  font-size: 25px;
  font-weight: 500; }

.logo-subtitle {
  font-size: 13px;
  margin-top: -13px; }

@media screen and (max-width: 430px) {
  .icon {
    display: none; }
  .logo-title {
    font-size: 18px; } }

.right-side-controls {
  line-height: 60px;
  position: relative; }

.right-side-controls > ul {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 10px; }
  .right-side-controls > ul a {
    color: white;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none; }
    .right-side-controls > ul a:hover {
      border-bottom: 3px solid white; }
  .right-side-controls > ul li {
    display: inline-block;
    color: white; }

@media screen and (min-width: 768px) {
  .right-side-controls > ul {
    text-align: right; }
  .logo-area {
    text-align: left; } }

.menu-area {
  position: relative;
  background-color: #edeff0;
  color: #717b85;
  padding-left: 0; }

rb-menu-group > li {
  text-transform: uppercase;
  font-weight: 400; }

.menu-area-vertical {
  float: left;
  width: 230px;
  min-height: 100vh;
  padding-top: 30px; }

.menu-area-horizontal {
  width: 100%;
  height: 40px; }

.menu-area ul {
  padding-left: 0; }

.menu-area .btn:hover {
  color: white; }

.menu {
  list-style-type: none;
  vertical-align: top; }

.menu ul {
  display: inline;
  list-style-type: none;
  padding-left: 0; }

.menu li {
  line-height: 3em;
  cursor: pointer; }

.menu li div {
  display: inline-block;
  width: 90%;
  padding-left: 16px;
  font-size: .9em; }

.selectable-item:hover {
  background-color: #d4d9dd; }

.menu-icon {
  margin-right: 10px; }

.menu-active-indicator {
  float: right;
  color: white;
  margin-right: 0;
  margin-top: 8px; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none; }

.group-indicator-left {
  float: right;
  color: white;
  margin-right: 2px;
  margin-top: 15px; }

.subitem-section {
  padding-left: 16px; }

.menu-layout-button {
  margin: 12px;
  padding: 2px 8px;
  color: #d4d9dd;
  background-color: #717b85;
  border: 1px solid #edeff0; }

.layout-button-horizontal {
  position: absolute;
  top: -6px;
  right: 10px; }

.item-horizontal {
  display: inline-block;
  width: 165px !important;
  margin-left: 20px;
  margin-top: 5px;
  line-height: 1.5em !important; }

.popup-menu {
  position: absolute;
  z-index: 1000;
  background-color: #edeff0;
  width: 230px;
  padding-left: 0; }

.collapsed-menu {
  display: inline-block;
  height: 100%; }

.nav-button {
  height: 40px;
  width: 60px;
  margin-top: 10px;
  border: 1px solid #d4d9dd;
  padding: 0;
  font-size: 26px;
  color: #d4d9dd; }

.fade-in-animation {
  -moz-transition: linear opacity 0.5s;
  -webkit-transition: linear opacity 0.5s;
  transition: linear opacity 0.5s; }

.fade-in-animation.ng-hide {
  opacity: 0; }

.view {
  margin-left: 230px;
  padding: 20px;
  background-color: white;
  min-height: 100vh;
  overflow: auto; }

.view-full-width {
  margin-left: 0; }

.description {
  background-color: #f4f2eb;
  padding: 15px;
  font-weight: 300; }
  .description p {
    margin-bottom: 0px; }

.device-selection {
  display: flex;
  align-items: center;
  justify-content: center; }
  .device-selection button {
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: #edeff0;
    border-radius: 0; }
    .device-selection button:hover {
      background-color: #5dc5e2;
      color: white; }
    .device-selection button.active {
      box-shadow: none;
      background-color: #5dc5e2;
      color: white; }

.subHead h1 {
  border-bottom: 6px solid rgba(239, 201, 76, 0.7);
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 1000px;
  margin-top: 35px; }
  .subHead h1.float-margin {
    margin-right: 0px; }
.subHead li {
  list-style: none; }
  .subHead li strong {
    font-weight: 300;
    border-bottom: 4px solid #5dc5e2; }

.additional {
  width: 100%;
  float: right;
  border: 3px solid #edeff0;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 50px; }
  .additional p {
    margin-bottom: 0px;
    padding: 5px; }

.additonal-caption {
  background-color: #f4f2eb; }

.gallery {
  font-size: 0;
  display: flex;
  flex-flow: row wrap;
  margin-left: 20px;
  margin-right: 20px; }

.gallery > * {
  flex: auto;
  width: 100px;
  margin-right: 30px; }

.gallery > * img {
  width: 100%;
  height: auto;
  max-width: 100px; }

.status {
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-weight: 200; }
  .status.in-progress {
    background-color: #e25135; }

.bubble-image {
  width: 100px;
  float: right; }
  .bubble-image img {
    border-radius: 50%; }
